.bg {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.shutterstock.com/image-photo/fresh-delicious-burger-closeup-on-260nw-565608874.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
